
.main-header {
  display: block;
  width: 320px;
  height: 283px;
  margin: 0 auto;

  background-color: pink;
  background-image: url("../img/hero-mobile@1x.jpg"); // само помещение спрайта в окошко(или кнопку)*/
  background-repeat: no-repeat;
  background-position: center -18px;
}

.main-header__title-wrapper {
  display: block;
  width: 270px;
  min-height: 20px;
  margin: 0 auto;
}

.main-header__title {
  padding-top: 70px;

  line-height: 31px;
  letter-spacing: 0.055em;
}

.main-header__navigation-list {

  width: 320px;
  height: 204px;
  margin: 0 auto;

  background-color: red;
}

.main-header__navigation-list ul {
  padding: 0;
  margin: 0;

  text-decoration: none;
  list-style: none;
}

.main-header__list-item {

  width: 320px;
  height: 102px;

  background-color: yellow;
}

.main-header__navigation-list a {
  display: block;   // делаем ссылку блоками */
  width: 320px;
  height: 102px;
  //padding: 10px 24px; /* верт гор */

  font-size: 0;
  text-decoration: none;
  color: #000000;

  background-color: blue;
  //border: 2px solid lightgray;*/
}

.main-header__list-item--interior a {
  position: relative;

  background-color: #63d1bb;
}

.main-header__list-item--interior a::before {
  content: "Предметы интерьера"; // - обязательно, чтобы он отрисовался */
  display: block;
  width: 110px;
  height: 60px;
  padding-top: 25px;
  padding-left: 30px;

  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: left;
  overflow: hidden;
  color: #ffffff;
}

.main-header__list-item--interior a::after {
  content: ""; // - обязательно, чтобы он отрисовался */
  position: absolute;
  top: 23px; // привязка псевдоэлемента в родительском контейнере*/
  left: 244px; // привязка псевдоэлемента в родительском контейнере*/

  display: block;
  width: 110px;
  height: 60px;

  background-image: url("../img/icon-interior.svg"); // само помещение спрайта в окошко(или кнопку)*/
  background-repeat: no-repeat;
  opacity: 0.5;
}


.main-header__list-item--toy a {
  position: relative;

  background-color: #56c3b2;
}

.main-header__list-item--toy a::before {
  content: "Детские игрушки"; // - обязательно, чтобы он отрисовался */
  display: block;
  width: 110px;
  height: 60px;
  padding-top: 25px;
  padding-left: 30px;

  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.065em;
  text-align: left;
  color: #ffffff;
}

.main-header__list-item--toy a::after {
  content: ""; // - обязательно, чтобы он отрисовался */
  position: absolute;
  top: 21px; // привязка псевдоэлемента в родительском контейнере*/
  left: 234px; // привязка псевдоэлемента в родительском контейнере*/

  display: block;
  width: 61px;
  height: 61px;

  background-image: url("../img/icon-toy.svg"); // само помещение спрайта в окошко(или кнопку)*/
  background-repeat: no-repeat;
  opacity: 0.5;
}
