
.page-header {
  min-height: 80px;
  //margin: 0 auto;
  //margin-bottom: 80px;

  color: #000000;

  background-color: #ffffff;
  //background-color: red;
}

.page-header__wrapper {

  //display: flex;
  //flex-direction: row;
  //justify-content: flex-start;
  //align-items: center;
  //flex-wrap: nowrap;

  //background-color: yellow;
}

.page-header__logo-wrapper {

  width: 86px;
  min-height: 35px;
  margin-left: 86px;

  flex-grow: 0;
  flex-shrink: 0;

  //background-color: blue;
}

.page-header__logo-ref {
  font-size: 0;
  text-decoration: none;

  cursor: pointer;
}

// подсветка при наведении
.page-header__logo:hover {
  opacity: 0.8;
}

// подсветка при нажатии
.page-header__logo:active {
  opacity: 0.3;
}

// перестраховка. явное задание размеров картинки
.page-header__index-logo img {
  width: 86px;
  height: 35px;
}

.page-header__nav-container {
  display: block;
  width: 22px;
  height: 16px;
  margin-left: 67px;

  flex-grow: 0;
  flex-shrink: 0;

  //background-color: pink;

  }

.page-header__nav-container a {
  display: block;   // делаем ссылку блоками
  text-decoration: none;
  color: #000000;
}


// Устройство кнопки (физические размеры, убирание текста) для социальных кнопок
.page-header__menu-button-toggle {
  position: relative;

  display: inline-block;
  vertical-align: top;
  width: 22px;
  height: 16px;

  font-size: 0;

  //background-color: red;


}

.page-header__menu-button-toggle::before {
  content: ""; // - обязательно, чтобы он отрисовался */

  position: absolute;
  top: 0px; // привязка псевдоэлемента в родительском контейнере*/
  left: 0px; // привязка псевдоэлемента в родительском контейнере*/

  display: inline-block;
  width: 22px;
  height: 16px;

  background-image: url("../img/icon-menu-open.svg"); // само помещение спрайта в окошко(или кнопку)*/
  background-repeat: no-repeat;
}



// подсветка при наведении */
.page-header__menu-button-toggle::before:hover {
  color: red;

  background: #eeeeee;
  opacity: 0.3;
}

// подсветка при нажатии */
.main_navigation_list a:active {
  color: #b4b4b4;

  background: #eeeeee;
}
