.page-footer {
  width: 320px;
  height: 160px;
  margin: 0 auto;

  color: #000000;

  background-color: #f1f1f1;
}

.page-footer--mishka-form {
  margin-top: 28px;
}

.page-footer--mishka-catalog {
  margin-top: 58px;
}
