
.presentation {

  width: 260px;
  height: 850px;

  background-color: #ffffff;
}

.presentation__title {
  margin: 0;
  letter-spacing: 0.035em;

  padding-top: 30px;
  padding-bottom: 10px;
}

.presentation ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.presentation__list-wrapper {

  display: block;
  width: 260px;
  height: 720px;

  padding-top: 10px;

  //background-color: pink;
}

.presentation__list li {

  display: block;

  margin-top: 2px;

  //background-color: pink;*/
}

.presentation__list-item {

  display: block;
  width: 255px;
  height: 120px;


  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.045em;
  text-align: left;
  color: #000000;

  padding-top: 0;
  margin: 0;
}

// Первый вариант когда псевдоэлемент вставляется */
// простым способом в родительский контейнер */
// псевдоэлементу нужно явно задавать display и размеры */

.presentation-list--flower::before {
  content: ""; // - обязательно, чтобы он отрисовался */
  display: block;
  width: 60px;
  height: 60px;

  background-image: url("../img/icon-feature-flower.svg"); // само помещение спрайта в окошко(или кнопку)*/
  background-repeat: no-repeat;
  background-position: 9px 9px;

  background-color: yellow;
}

.presentation-list--money::before {
  content: ""; // - обязательно, чтобы он отрисовался */
  display: block;
  width: 60px;
  height: 60px;

  background-image: url("../img/icon-feature-money.svg"); // само помещение спрайта в окошко(или кнопку)*/
  background-repeat: no-repeat;
  background-position: 0 11px;

  background-color: yellow;
}

.presentation-list--heart::before {
  content: ""; // - обязательно, чтобы он отрисовался */
  display: block;
  width: 60px;
  height: 60px;


  background-image: url("../img/icon-feature-heart.svg"); // само помещение спрайта в окошко(или кнопку)*/
  background-repeat: no-repeat;
  background-position: 8px 15px;

  background-color: yellow;
}

.presentation-list--ball::before {
  content: ""; // - обязательно, чтобы он отрисовался */
  display: block;
  width: 60px;
  height: 60px;

  background-image: url("../img/icon-feature-ball.svg"); // само помещение спрайта в окошко(или кнопку)*/
  background-repeat: no-repeat;
  background-position: 4px 15px;

  background-color: yellow;
}

.presentation-list--rocket::before {
  content: ""; // - обязательно, чтобы он отрисовался */
  display: block;
  width: 60px;
  height: 60px;


  background-image: url("../img/icon-feature-rocket.svg"); // само помещение спрайта в окошко(или кнопку)*/
  background-repeat: no-repeat;
  background-position: 0 17px;

  background-color: yellow;
}

.presentation-list--gift::before {
  content: ""; // - обязательно, чтобы он отрисовался */
  display: block;
  width: 60px;
  height: 60px;


  background-image: url("../img/icon-feature-gift.svg"); // само помещение спрайта в окошко(или кнопку)*/
  background-repeat: no-repeat;
  background-position: 4px 15px;

  background-color: yellow;
}

.presentation-list__ico1 {

  /*background-color: red;*/
}

.presentation-list__ico2 {

  background-color: grey;
}

.presentation-list__ico3 {

  background-color: green;
}

.presentation-list__ico4 {

  background-color: pink;
}

.presentation-list__ico5 {

  background-color: grey;
}

.presentation-list__ico6 {

  background-color: cyan;
}

.presentation__text {
  margin: 0;
  margin-top: 7px;
}
