
// Устройство любой кнопки на сайте - сброс стилей по умолчанию и обработка атрибутов */
.btn-inline-block {
  display: inline-block;  // делаем ссылку блоками */

  font-style: normal; // сброс стилей по умолчанию и обработка */
  font-weight: 400; // сброс стилей по умолчанию и обработка */
  font-size: 17px; // сброс стилей по умолчанию и обработка */
  line-height: 20px; // сброс стилей по умолчанию и обработка */
  font-family: inherit; // сброс стилей по умолчанию и обработка */
  text-align: center; // - если блочно-строчный сброс стилей по умолчанию и обработка */
  vertical-align: top; // - если блочно-строчный  сброс стилей по умолчанию и обработка */
  text-decoration: none;
  text-transform: uppercase; // сброс стилей по умолчанию и обработка */
  //letter-spacing: 0.022em;*/ // сброс стилей по умолчанию и обработка */
  color: #ff0000; // сброс стилей по умолчанию и обработка */

  //background-color: gold;
  border: none;    // сброс стилей по умолчанию и обработка */
  border-radius: none;

  cursor: pointer; // сброс стилей по умолчанию и обработка */

  &:hover {
    color: $btn-hover;
  }

  &:active {
    color: $btn-active;
  }
}


// Устройство любой кнопки на сайте - сброс стилей по умолчанию и обработка атрибутов */
.btn-block {
  display: block;  // делаем ссылку блоками */

  font-style: normal; // сброс стилей по умолчанию и обработка */
  font-weight: 400; // сброс стилей по умолчанию и обработка */
  font-size: 17px; // сброс стилей по умолчанию и обработка */
  line-height: 20px; // сброс стилей по умолчанию и обработка */
  font-family: inherit; // сброс стилей по умолчанию и обработка */
  // text-align: center; // - если блочно-строчный сброс стилей по умолчанию и обработка */
  // vertical-align: top; // - если блочно-строчный  сброс стилей по умолчанию и обработка */
  text-decoration: none;
  text-transform: uppercase; // сброс стилей по умолчанию и обработка */
  //letter-spacing: 0.022em;*/ // сброс стилей по умолчанию и обработка */
  color: #ff0000; // сброс стилей по умолчанию и обработка */

  //background-color: gold;
  border: none;    // сброс стилей по умолчанию и обработка */
  border-radius: none;

  cursor: pointer; // сброс стилей по умолчанию и обработка */

  &:hover {
    color: $btn-hover;
  }

  &:active {
    color: $btn-active;
  }
}

// Устройство любой кнопки на сайте - сброс стилей по умолчанию и обработка атрибутов */
.btn-flex {
  font-style: normal; // сброс стилей по умолчанию и обработка */
  font-weight: 400; // сброс стилей по умолчанию и обработка */
  font-size: 17px; // сброс стилей по умолчанию и обработка */
  line-height: 20px; // сброс стилей по умолчанию и обработка */
  font-family: inherit; // сброс стилей по умолчанию и обработка */
  // text-align: center; // - если блочно-строчный сброс стилей по умолчанию и обработка */
  // vertical-align: top; // - если блочно-строчный  сброс стилей по умолчанию и обработка */
  text-decoration: none;
  text-transform: uppercase; // сброс стилей по умолчанию и обработка */
  //letter-spacing: 0.022em;*/ // сброс стилей по умолчанию и обработка */
  color: #FF0000; // сброс стилей по умолчанию и обработка */

  //background-color: gold;
  border: none;    // сброс стилей по умолчанию и обработка */
  border-radius: none;

  cursor: pointer; // сброс стилей по умолчанию и обработка */
}
