// перестраховка. явное задание размеров картинки
// ВНИМАНИЕ: СВОЙСТВА img ОТНОСЯТСЯ К БЛОКУ!!! (К WRAPPER)
.page-header__logo-wrapper img {
  display: block; // обязательно чтобы работал маргин. img строчный
  width: 86px;
  height: 35px;
  margin: 22px auto;
  //text-align: center; // можно попытаться воровнять и так
}

// ПОДСВЕТКИ УЖЕ К class="page-header__logo"
// подсветка при наведении
.page-header__logo:hover {
  opacity: 0.8;
}

// подсветка при нажатии
.page-header__logo:active {
  opacity: 0.3;
}
